@import "bourbon/bourbon";
@import "reset";

$orange: rgba(255,170,92,1);
$pink: #ED8E6D;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html, body {
  font-size: 16px;
  font-family: "futura-pt", Arial, sans-serif;
  color: #FFF;
  background: url('../images/pretty-bg2.svg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#squares {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 32em;
  margin: 0 auto;
  @include clearfix;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  display: inline-block;
  position: relative;
  width: 15em;
  height: 15em;
  margin: 0 auto;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.3;
    &#clear {
      opacity: 1;
    }
  }
}

.title {
  font-weight: 300;
  color: #FFF;
  font-size: 3em;
  margin-top: -1em;
}

.description {
  font-family: "open-sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  width: 20em;
  margin: 0 auto;
  text-align: center;

  .link {
    color: $orange;
    font-weight: 400;
    text-decoration: none;
  }
}

.button {
  display: block;
  width: 6.5em;
  margin: 0 auto;
  text-decoration: none;
  font-family: "open-sans", Arial, sans-serif;
  background-color: $orange;
  border: none;
  font-size: 16px;
  padding: 0.5em 0.5em;
  margin-top: 1.5em;
  color: #455C7B;
  transition: all 0.25s ease;
  &:hover {
    background-color: $pink;
    cursor: pointer;
  }
}
